/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .album-review{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0px;
  }
  .album-details{
    width: 60%;
  }
  .album-cover-cont{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h3.album-name-author {
    margin: 0px!important;
  }
  .star-rating {
    display: flex;
  }
  .star-rating svg {
    width: 18px;
    height: 18px;
    color: #ff9900;
  }
  
  .star-rating svg:not(:last-child) {
    margin-right: 3px;
  }
  .genre-title{
    text-transform: capitalize;
  }
  .album-genre{
    font-size: 16px;
    font-weight: 400;
  }